* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e6df;
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #5f7461;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: lowercase;
  border: 0px black solid;
  border-radius: 10px;
  background: #5f7461;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e8e6df;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100px;
  height: 73px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 100px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 120px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 8px;
}

#hero input[type="Join"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  border: 0;
  background-color: #5f7461;
  font-color: #5f7461;
}

#hero input[type="submit"]:hover {
  background-color: #5f7461;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#about {
  margin-top: 120px;
}

#about .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 80vw;
  padding: 50px;
}

@media (max-width: 550px) {
  #about .desc {
    width: 100%;
    text-align: center;
    padding: center;
    height: 80px;
  }
}

@media (max-width: 650px) {
  #about {
    margin-top: 50px;
  }
}

#how-its-made {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#how-its-made > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #5f7461;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #;
  font-weight: 400;
}

.product > button:hover {
  background-color: #5f7461;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #e8e6df;
  padding: 20px;
}

footer > ul {
  display: flex-end;
  justify-content: center;
}

footer > ul > li {
  padding: 20px 100px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #5f7461;
}
